:root {
    --bg-light: #eee;
    --length-unit: 1rem;
    --content-width: 960px;
    --content-box-inner-width: calc(var(--content-width) - 2 * var(--length-unit));
    --single-article-width: calc(var(--content-box-inner-width) / 3);
    --article-box-inner-width: calc(var(--single-article-width) - 1 * var(--length-unit));
}

body {
    flex-direction: column;
}

h1 {
    padding-left: 2rem;
}

.article-list {
    flex-flow: wrap;
    max-width: calc(var(--single-article-width) * 3); 
    min-width: calc(var(--single-article-width) * 2);
}

article {
    box-sizing: border-box;
    padding: 1rem;
    width: var(--article-box-inner-width);
}

footer {
    padding: 1rem;
}

/* Utility classes */

.flex {
    display: flex;
}

.bg-gray {
    background-color: var(--bg-light);
}

.mb-1 {
    margin-bottom: var(--length-unit);
}
.mr-1 {
    margin-right: var(--length-unit);
}
.m-1 { 
    margin: var(--length-unit); 
}